:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}

body {
    background: #ccc;
    margin: 30px 50px;
    line-height: 1.4;
}

.btn {
    background: var(--dark);
    color: var(--light);
    padding: 0.6rem 1.3rem;
    text-decoration: none;
    border: 0;
}

img {
    max-width: 100%;
}

.hWrapper {
    display: grid;
    grid-gap: 20px;
}

.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr;
}

.main-nav img {
    min-width: 6rem;
    max-width: 6rem
}

.main-nav a {
    background: var(--primary);
    display: block;
    text-decoration: none;
    padding: 0.8rem;
    text-align: centre;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
}

.main-nav a:hover {
    background: var(--dark);
    color: var(--light);
}
.wrapper {
    width: 100%;
}

.img-logo {
    display: none;
}

.shoe-info {
    width: 100%;
}

.shoe-info h2 {
    padding: 20px 20px 10px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 35px;
    margin: 0px;
}

.shoe-info h3 {
    padding: 5px 20px 5px;
    font-family: arial;
    font-size: 30px;
    color: #111;
    line-height: 35px;
    margin: 0px;
}

.shoe-info p {
    padding: 0px 20px 10px;
    font-family: arial;
    font-size: 20px;
    color: #111;
    line-height: 20px;
}

.shoe-info select {
    /* General styling */
    height: 50px;
    width: 95%;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 1.6rem;
    float: right;

    /* Removes the default <select> styling */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    /* Positions background arrow image */
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAh0lEQVQ4T93TMQrCUAzG8V9x8QziiYSuXdzFC7h4AcELOPQAdXYovZCHEATlgQV5GFTe1ozJlz/kS1IpjKqw3wQBVyy++JI0y1GTe7DCBbMAckeNIQKk/BanALBB+16LtnDELoMcsM/BESDlz2heDR3WePwKSLo5eoxz3z6NNcFD+vu3ij14Aqz/DxGbKB7CAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: right center;
  }

  .shoe-info button {
    /* General styling */
    height: 50px;
    width: 95%;
    border-radius: 0px;
    padding: 10px 10px 10px;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    float: right;
  }

.img-shoes {
    width: 100%;
}

footer {
    margin-top: 2rem;
    background: var(--dark);
    color: var(--light);
    text-align: center;
    padding: 1rem;
}

@media only screen and (min-width: 800px) {

    .img-logo {
        display: block;
        width: 20%;
        padding: 0px 0px 10px;
    }

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .shoe-info h2 {
        padding: 20px 0px 0px;
    }
    
    .shoe-info p {
        padding: 20px 0px 0px;
    }

    .img-shoes {
        padding-top: 20px;
    }
}

@media only screen and (min-width: 1000px) {

    
    .main-nav ul {
        grid-template-columns: repeat(6, 1fr);
    }

    .wrapper {
        width: 1000px;
    }

    .shoe-info {
        width: 50%;
        float: right;
    }

    .img-shoes {
        padding-top: 0px;
        width: 50%;
        float: left;
    }

    .shoe-info h2 {
        padding: 20px 0px 0px 30px;
    }
    
    .shoe-info p {
        padding: 20px 0px 0px 30px;
    }

    .shoe-info h3 {
        padding: 20px 0px 0px 30px;
    }


}